#id-abbreviation {
	display: block;
	margin-bottom: 10px;
	font-size: 180%;
}

#input-information {
    display:inline-block;
    width: 420px;
}

#information {
    display:inline-block;
    float:right;
    width: 300px;
    margin:0px;
    margin-right:10px;
}

#information-list .information-label{
	margin-top: 5px;
       	font-weight: bold;
}

.description-text {
        font-size: 80%;
	width: 394px;
	background: #dedede;
	margin: 0px;
	margin-bottom: 2px;
	padding: 3px;
	border: 1px solid #828282;
}

#content form select {
	display: inline-block;
	background: none;
	margin-bottom: 10px;
	width: 120px;
	border: 1px solid #3155a6;
        -moz-border-radius: 3px;
        -khtml-border-radius: 3px;
        -webkit-border-radius: 3px;
        filter:alpha(opacity=13);
	font-size: 100%;
}

#content form textarea, #content form input[type=text], #content form select, input[type=text], textarea{
	margin: 0px;
	margin-bottom: 10px;
	width: 400px;
}

#content form textarea.competence_description {
    height: 225px;
}

#content form ul{
        margin: 0px;
        margin-bottom: 10px;
        display: block;
        border: none;
        font-size: 12px;
	padding: 0px;
	padding-left: 20px;
	width: 320px;
}

#content form ul li input {
        margin: 0px;
        width: 100%;
        font-size: 12px;
}

.bullet_delete {
	float: right;
	color: #ff0000;
	cursor: default;
}

.input-area {
    width: 500px;

}

.hidden {
	visibility: hidden;
	height: 0px;
}

#credits-slider {
	display: inline-block;
	outline: none;
	margin: 0px;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 380px;
}

.ui-slider-handle {
	outline: none;
}

#div-credits-value {
	margin: 0px;
	margin-bottom: 10px;
	color: #666666;
}

.move-to-course {
	display: inline-block;
	color: #3155a6;
	margin: 0px;
	font-weight: bold;
	text-align: right;
	width: 400px;
	cursor: pointer;
}

.bulletheading {
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 2px;
    font-weight: bold;
    color: #555555;
    width: 400px;
}

.right-arrow {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    background: #3155a6;
    background-image: url('/media/myndir/orvakassi.png');
    vertical-align: middle;
    width: 10px;
    height: 10px;
}

#content #courselist {
	width: 600px;
}

#content #courselist .white-row {
	background: #ffffff;
	color: #3155a6;
	padding: 5px;
}

#content #courselist .blue-row {
	background: #bacae5;
	padding: 5px;
}

#content #courselist #courseheader {
	font-weight: bold;
	padding: 5px;
}

#content #courselist .courseline {
	margin-bottom: 5px;
}

#content #courselist div span {
	display: inline-block;
	width: 100px;
	margin-left:auto;
	margin-right:auto;
	vertical-align: top;
}

#content #courselist div .descriptive_name {
	width: 115px;
}

#content #courselist div .name {
	width: 95px;
}

#content #courselist div .subjects {
	width: 90px;
}

#content #courselist div .topics {
	width: 90px;
}

#content #courselist div .level {
	width: 30px;
	text-align: center;
}

#content #courselist div .credits {
	width: 70px;
	text-align: center;
}

#content #courselist div .actions {
	width: 60px;
}

.prepend_question {
	color: #646464;
}

.ui-slider-horizontal {
	margin: 10px;
	width: 380px;
}

.slider-wrapper {
	margin-bottom: 10px;
}

.slider-value {
	display: inline-block;
	color: #3155a6;
	margin-right: 2px;
}

.slider-unit {
	display: inline-block;
	color: #000000;
	font-size: 95%;
}

.add-wrapper {
	width: 400px;
}

.add-to-list {
	display: block;
	margin: 2px;
}
.added {
	font-size: 105%;
}

.goal-item {
	margin: 0px;
	padding: 0px;
}

.errorlist {
	color: #cc0000;
}

.scrollbox {
	height: 90px;
	overflow: hidden;
	border-bottom: 1px solid #cccccc;
}

a.tiny { font-size: 80%; }
a.small { font-size: 100%; }
a.normal { font-size: 120%; }
a.large { font-size: 140%; }
a.huge { font-size: 160%; }


.author-list {
	width: 400px;
	margin: 2px;
	margin-top: 5px;
}

#content form #possible-authors {
	list-style-type: none;
	width: 400px;
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
	border-top: 2px solid #cccccc;
}

#content form #possible-authors li {
	margin: 2px;
	padding: 2px;
}

#user-author, .author-item {
	margin: 2px;
	padding: 2px;
	font-size: 115%;
	width: 400px;
}

#user-author img, .author-item img {
	max-height: 42px;
	margin: 2px;
	vertical-align: middle;
}

#user-author, .author-item {
	background: #c6d0e0;
	border: 1px solid #829ecd;
}

.author-item.not-selected {
	background: #d4d4d4;
	border: 1px solid #e4e4e4;
}

.author-item.not-selected img {
	opacity: 0.4;
	filter: alpha(opacity=40);
}

.author-item.not-selected:hover img {
	opacity: 1;
	filter: alpha(opacity=100);
}

.exemplary-container {
    width: 650px;
    clear: both;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #dfdfdf;
}

#content .exemplary-container label {
    margin-top: 10px;
}

#content .no-exemplary-notes label, #content .no-exemplary-notes {
    color: #9a9a9a;
}

.course-information {
    display: inline-block;
    width: 205px;
    margin-right: 10px;
    vertical-align: top;
}

.exemplary-input {
    padding: 0px;
    display:inline-block;
    width: 430px;
    vertical-align: top;
}

#content .exemplary-input textarea {
    width: 425px;
    height: 75px;
    margin: 0px;
}

.exemplary-list {
    margin-top: 3px;
    font-size: 90%;
}

.package-selector {
    width: 390px;
    min-height:170px;
    padding: 5px;
    margin-bottom: 10px;
}

#content #core-wrapper {
    background: #d6be9c;
    border: 1px solid #9c7948;
}

#content #specialization-wrapper {
    background: #aec6de;
    border: 1px solid #5a81a9;
}

#content #packaged_electives-wrapper {
    background: #c4a4d1;
    border: 1px solid #9c5cb5;
}

#content #free_electives-wrapper {
    background: #ecb986;
    border: 1px solid #da7340;
}

.new-package {
    width: 175px;
    padding: 10px;
    text-align: center;
    background: #bbf1bd;
    border: 1px solid #5dc561;
}

.package-hover {
    background: #dff6e2;
    -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}

.package-list {
    margin-top: 10px;
}

.package {
    display: inline-block;
    background: #e3e3e3;
    border: 1px solid #828282;
    width: 110px;
    margin: 2px;
    padding: 3px;
    color: #333333;
    font-size: 80%;
}

.package .title {
    font-weight: bold;
    border-bottom: 1px solid #333333;
    padding-bottom: 2px;
    margin-bottom: 4px;
}

.package ul.list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.package ul.list li {
    margin: 0px;
    padding: 0px;
}

.package .package-add {
    padding: 2px;
    text-align: center;
    background: #bbf1bd;
    border: 1px solid #5dc561;
}

#draggable-courses {
    list-style-type: none;
    margin: 0px
    padding: 0px;
}

.draggable-course {
    background: #b7ffff;
    border: 1px solid #60a9a9;
    color: #000000;
    font-weight: bold;
    width: 80px;
    height: 10px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.filter-header {
    font-size: 90%;
    color: #333333;
}

.filter-list {
    font-size: 80%;
}

.left-text {
    display: inline-block;
    width: 280px;
    font-size: 90%;
    vertical-align: top;
}

.right-list {
    display: inline-block;
    width: 420px;
    margin-left: 10px;
    font-size: 90%;
    vertical-align: top;
}