{% extends "base.html" %}

{% load markup %}

{% block javascript %}
<script type="text/javascript" src="/media/js/tag.js"></script>
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="/media/css/community.css">
{% endblock %}

{% block pagetitle %}<h1>{{flatpagetitle}}</h1>{% endblock %}

{% block content %}
{{flatpagecontent|safe}}

<h2>Samtök</h2>
{% for c in content %}
<div id="community-content">
<h2><a href="{{c.target_url}}">{{c.title}}</a></h2>
{% if c.thumbnail %}<img alt="{{c.title}}" src="{{c.thumbnail}}">{% endif %}
{{c.description|markdown}}
</div>
{% endfor %}
{% endblock %}

{% block new_content %}
{% if form %}{% include "community/new.html" %}{% endif %}
{% endblock %}

