{% extends "contentbox.html" %}
{% load i18n %}
{% block content %}

  {% if form.errors %}
    <p class="error">{% trans "An error occurred changing the passwords " %}</p>
  {% endif %}

  <form action="" method="post">{% csrf_token %}

  <p>
    <label for="id_old_password">{% trans "Older password" %}</label> 
    <input type="password" name="old_password" id="id_old_password" />
  </p>


  <p>
    <label for="id_new_password1">{% trans "New password" %}</label>
    <input type="password" name="new_password1" id="id_new_password1" />
  </p>

  <p>
    <label for="id_new_password2">{% trans "Retype the new password" %}</label>
    <input type="password" name="new_password2" id="id_new_password2" />
  </p>

  <input type="submit" value="{% trans 'Change' %}" />
  </form>

{% endblock %}

