{% extends "base.html" %}

{% load romanize %}

{% block stylesheet %}
<link rel="stylesheet" href="/media/css/accordion.css"/>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/rgbcolor.js"></script> 
<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/canvg.js"></script>

<script src="/media/js/accordion.js"></script>
{% endblock %}

{% block content %}

<h1>{{title}}</h1>

{% for section in sections %}
<h2>{{section.number|romanize}}. kafli {{section.title}}</h2>

{% for article in section.article_set.all %}
<div class="collapse">
<div id="{% if article.number %}{{article.number}}{{article.subnumber}}{% else %}{{article.title|lower}}{% endif %}" class="collapse-header">{% if article.number %}{{article.number}}. grein {{article.subnumber}}{% endif %}{{article.title}}</div>
<div class="collapse-text">{{article.html_content|safe}}</div>
</div>

{% endfor %}
{% endfor %}

<canvas id="iceland" width="150" height="150">Vafrinn</canvas>

{% endblock %}
